
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  padding:0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.hero{
  position: relative;
}
.searchForm{
  position: relative;
}
.searchButton{
  background-color: black;
    color: white;
    width: 40px;
    border-radius: 10px;
    height: 35px;
    gap:-10px;
    margin-left: -40px;
    padding: 5px;
}

.ipInfo{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}


.errorText{
  margin: 10px 0 0;
  color: ffd1d1;
  font-weight: 600;
}

.map{
  height: 100%;
  width:100% 
} 
.mapWrap{
  position:relative;
  z-index: 1;
}
@media (max-width: 600px){
  .hero {
    background-image: url('ipreact/src/assets/pattern-bg-mobile.png') ;
  }
}

.resultsSection{
  position: absolute;
  left: 50%;
  z-index:5;
  bottom: -75px;
  transform: translateX(-50%);
  width: min(980px, 92vw);
  background: white;
  color: #111;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 12px 30px;

}
.resultsDiv{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 14px;
  text-align: left;

}

.label{
  margin: 0 0 6px;
  font-size: 11px;
  font-weight: 700;
  color: #6b7280;
  letter-spacing: .08 rem;
  text-transform: uppercase;
}
.resultResponse{
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  word-break: break-word;
}

